<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">



<body>
   <div align="center" th:fragment="menu">
      <!-- Page Wrapper -->
  	  <div id="wrapper">
         <th:block sec:authorize="isAuthenticated()">
             <!-- 관리자 권한 메뉴 -->
             <th:block sec:authorize="hasRole('ROLE_ADMIN')">
             	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
		         	<!-- Sidebar - Brand -->
					<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
					  <div class="sidebar-brand-icon rotate-n-15">
					    <i class="fas fa-laugh-wink"></i>
					  </div>
					  <!-- <div class="sidebar-brand-text mx-3">ALOHA CAMPUS</div> -->
					  <img src="/image/img_ongle.png" style="width:100px;">
					</a>
             		<li class="nav-item">
             			<a class="nav-link" href="#" th:href="@{/ebook/list(platformType=p_bookcube)}" alt="">회원관리</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link" href="#" th:href="@{/ebook/list(platformType=p_bookcube)}" alt="">북큐브</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_joara)}" alt="">조아라</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_kakao)}" alt="">카카오</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_kyobo)}" alt="">교보문고</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_mrblue)}" alt="">미스터블루</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_munpia)}" alt="">문피아</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_naver)}" alt="">네이버</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_ridibooks)}" alt="">리디북스</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_romance)}" alt="">로망띠끄</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_tocsoda)}" alt="">톡소다</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_winstore)}" alt="">윈스토어</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_yes24)}" alt="">예스24</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_aladin)}" alt="">알라딘</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/payment}" alt="">정산내역</a>
             		</li>
             	</ul>	
             </th:block>
             
             
              <!-- 사용자 권한 메뉴 -->
             <th:block sec:authorize="hasRole('ROLE_USER')">
		         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
		         	<!-- Sidebar - Brand -->
					<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
					  <div class="sidebar-brand-icon rotate-n-15">
					    <i class="fas fa-laugh-wink"></i>
					  </div>
					  <!-- <div class="sidebar-brand-text mx-3">ALOHA CAMPUS</div> -->
					  <img src="/image/img_ongle.png" style="width:100px;">
					</a>
             		<li class="nav-item">
             			<a class="nav-link" href="#" th:href="@{/ebook/list(platformType=p_bookcube)}" alt="">북큐브</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_joara)}" alt="">조아라</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_kakao)}" alt="">카카오</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_kyobo)}" alt="">교보문고</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_mrblue)}" alt="">미스터블루</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_munpia)}" alt="">문피아</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_naver)}" alt="">네이버</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_ridibooks)}" alt="">리디북스</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_romance)}" alt="">로망띠끄</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_tocsoda)}" alt="">톡소다</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_winstore)}" alt="">윈스토어</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_yes24)}" alt="">예스24</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/list(platformType=p_aladin)}" alt="">알라딘</a>
             		</li>
             		<li class="nav-item">
             			<a class="nav-link"  href="#" th:href="@{/ebook/payment}" alt="">정산내역</a>
             		</li>
             	</ul>
	         </th:block> 
         </th:block>
         </div>
   </div>
</body>
</html>