<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   >
   
<head>
   <title>User</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>   
   <script src="/js/jQuery-2.1.4.min.js"></script>
</head>
<body>
<div>
		<form id="member" action="list.html" th:action="@{/user/modify}" th:object="${AuthorListDto}" method="POST">
			<input type="hidden" name="writerId" th:field="*{writerId}"/>
			<table>
				<tr>
					<td>아이디</td>
					<td><input type="text" name="id" th:field="*{id}" readonly="readonly" style="background-color: #e2e2e2;"/></td>
				</tr>
				<tr>
					<td>작가명</td>
					<td><input type="text" name="author" th:field="*{author}"/></td>
				</tr>
				<tr>
					<td>본명</td>
					<td><input type="text" name="realName" th:field="*{realName}"/></td>
				</tr>
				<tr>
					<td>계좌번호</td>
					<td><input type="text" name="accountNumber" th:field="*{accountNumber}"/></td>
				</tr>
				<tr>
					<td>주민번호</td>
					<td><input type="text" name="ctzNumber" th:field="*{ctzNumber}" /></td>
				</tr>
				<tr>
					<td>선인세</td>
					<td><input type="text" name="virtuousTax" th:field="*{virtuousTax}"  /></td>
				</tr>
				<tr>
					<td>담당자</td>
					<td><input type="text" name="manager" th:field="*{manager}" /></td>
				</tr>
				<tr>
					<td>정산비율</td>
					<td><input type="text" name="settlementRatio" th:field="*{settlementRatio}"  /></td>
				</tr>
			</table>
		</form>

		<div>
      <button type="submit" id="btnRegister">수정</button>
      <button type="submit" id="btnList">목록</button>
   </div>
   
   <script th:inline="javascript">
      $(document).ready(function() {
   
         var formObj = $("#member");
   
         $("#btnRegister").on("click", function() {
			formObj.attr("method", "post");
            formObj.submit();
         });
         
      [#th:block sec:authorize="hasRole('ROLE_ADMIN')"]
         $("#btnList").on("click", function() {
            self.location = "list";
         });
      [/th:block]
   
      });
   </script>
</div>
</body>
</html>