<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eBook.mgr.mapper.DbSettingMapper">

	<insert id="createDbSetting">
	INSERT INTO tb_dbsetting (
            product_name, 
            author, 
            brand, 
            net_price, 
            manager
            ) 
	VALUES      
			(
			#{productName},
			#{author},
			#{brand},
			#{netPrice},
			#{manager}
            ) 
	</insert>

</mapper>

