<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eBook.mgr.mapper.EBookDeleteMapper">
	
	<delete id="deleteBookcube">
		DELETE FROM tb_platform_bookcube
		WHERE idx = #{idx}
	</delete>

<!-- 
	<delete id="deleteEpub">
		DELETE FROM tb_platform_epub
		WHERE writer_id = #{writerId}
	</delete>
 -->
 
	<delete id="deleteJoara">
		DELETE FROM tb_platform_joara
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteKakao">
		DELETE FROM tb_platform_kakao
		WHERE idx = #{idx}
	</delete>

	<delete id="deletekyobo">
		DELETE FROM tb_platform_kyobo
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteMrblue">
		DELETE FROM tb_platform_mrblue
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteMunpia">
		DELETE FROM tb_platform_munpia
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteNaver">
		DELETE FROM tb_platform_naver
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteRidibooks">
		DELETE FROM tb_platform_ridibooks
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteRomance">
		DELETE FROM tb_platform_romance
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteTocsoda">
		DELETE FROM tb_platform_tocsoda
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteWinstore">
		DELETE FROM tb_platform_winstore
		WHERE idx = #{idx}
	</delete>
	
	<delete id="deleteAladin">
		DELETE FROM tb_platform_aladin
		WHERE idx = #{idx}
	</delete>

	<delete id="deleteYes24">
		DELETE FROM tb_platform_yes24
		WHERE idx = #{idx}
	</delete>
	
</mapper>