<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eBook.mgr.mapper.EBookCreateMapper">

	<insert id="createBookcube">
		INSERT INTO tb_platform_bookcube (
			product_name,
			author,
			brand,
			sales_category,
			sales_type,
			episode,
			net_price,
			sale_price,
			discount,
			fee,
			net_target_price,
			deduction_reserves_event,
			payment,
			book_id,
			isbn,
			e_isbn,
			e_isbn_epub,
			writer_id,
			set_date
		)
		VALUES
		(
			#{productName},
			#{author},
			#{brand},
			#{salesCategory},
			#{salesType},
			#{episode},
			#{netPrice},
			#{salePrice},
			#{discount},
			#{fee},
			#{netTargetPrice},
			#{deductionReservesEvent},
			#{payment},
			#{bookId},
			#{isbn},
			#{eIsbn},
			#{eIsbnEpub},
			#{writerId},
			#{setDate}
		)
	</insert>

<!-- 
	<insert id="createEpub">
		INSERT INTO tb_platform_epub (
		index,
		product_name,
		publisher,
		publisher_amount,
		sales,
		sales_amount,
		cencels_amount,
		cost_rate,
		payment,
		event_type,
		sales_type,
		event_amount,
		author,
		epubid,
		set_code,
		paperbook_isbn,
		ebook_isbn,
		salse_date,
		cencels_date,
		writer_id,
		set_date
		)
		VALUES
		(
		#{index},
		#{productName},
		#{publisher},
		#{publisherAmount},
		#{sales},
		#{salesAmount},
		#{cencelsAmount},
		#{costRate},
		#{payment},
		#{eventType},
		#{salesType},
		#{eventAmount},
		#{author},
		#{epubid},
		#{setCode},
		#{paperbookIsbn},
		#{ebookIsbn},
		#{salseDate},
		#{cencelsDate},
		#{writerId},
		#{setDate}
		)
	</insert>
 -->

	<insert id="createJoara">
		INSERT INTO tb_platform_joara (
		brand,
		product_name,
		product_code,
		author,
		unit,
		sale_amount,
		ratio,
		payment,
		payment_date,
		writer_id,
		set_date
		)
		VALUES
		(
		#{brand},
		#{productName},
		#{productCode},
		#{author},
		#{unit},
		#{saleAmount},
		#{ratio},
		#{payment},
		#{paymentDate},
		#{writerId},
		#{setDate}
		)
	</insert>

	<insert id="createKakao">
		INSERT INTO tb_platform_kakao (
		brand,
		special_general_2,
		entrepreneur,
		entrepreneur_id,
		publisher,
		contract_uid,
		contract_category,
		contract,
		new_contract,
		category,
		series_id,
		product_name,
		product_code,
		lable,
		author,
		is_isbn,
		cp_settlement_rate_android,
		cp_settlement_rate_ios,
		use_ticket_type,
		use_ticket_amount,
		cache_sum,
		cpp_1,
		cpl_1,
		cp1_1,
		cp2_1,
		cp3_1,
		cp7_1,
		cp8_1,
		cp9_1,
		event_cache_1,
		original_sum,
		cpp_2,
		cpl_2,
		cp1_2,
		cp2_2,
		cp3_2,
		cp7_2,
		cp8_2,
		cp9_2,
		event_cache_2,
		value_supply,
		tax_amount,
		payment,
		writer_id,
		set_date
		)
		VALUES
		(
		#{brand},
		#{specialGeneral2},
		#{entrepreneur},
		#{entrepreneurId},
		#{publisher},
		#{contractUid},
		#{contractCategory},
		#{contract},
		#{newContract},
		#{category},
		#{seriesId},
		#{productName},
		#{productCode},
		#{lable},
		#{author},
		#{isIsbn},
		#{cpSettlementRateAndroid},
		#{cpSettlementRateIos},
		#{useTicketType},
		#{useTicketAmount},
		#{cacheSum},
		#{cpp1},
		#{cpl1},
		#{cp1_1},
		#{cp2_1},
		#{cp3_1},
		#{cp7_1},
		#{cp8_1},
		#{cp9_1},
		#{eventCache1},
		#{originalSum},
		#{cpp2},
		#{cpl2},
		#{cp1_2},
		#{cp2_2},
		#{cp3_2},
		#{cp7_2},
		#{cp8_2},
		#{cp9_2},
		#{eventCache2},
		#{valueSupply},
		#{taxAmount},
		#{payment},
		#{writerId},
		#{setDate}
		)
	</insert>

	<insert id="createKyobo">
		INSERT INTO tb_platform_kyobo (
		brand,
		sales_category,
		sales_type,
		product,
		main_section,
		book_barcode,
		isbn,
		epub_isbn,
		pdf_isbn,
		product_name,
		episode,
		author,
		net_price,
		sale_price,
		sale_rate,
		download,
		net_target_price,
		net_target_price_amount,
		payment,
		accounting_rates,
		book_number,
		writer_id,
		set_date
		)
		VALUES
		(
		#{brand},
		#{salesCategory},
		#{salesType},
		#{product},
		#{mainSection},
		#{bookBarcode},
		#{isbn},
		#{epubIsbn},
		#{pdfIsbn},
		#{productName},
		#{episode},
		#{author},
		#{netPrice},
		#{salePrice},
		#{saleRate},
		#{download},
		#{netTargetPrice},
		#{netTargetPriceAmount},
		#{payment},
		#{accountingRates},
		#{bookNumber},
		#{writerId},
		#{setDate}
		)
	</insert>


	<insert id="createMrblue">
		INSERT INTO tb_platform_mrblue
		(
		brand,
		date,
		product_name,
		author,
		code,
		fixed_num,
		fixed_sales,
		fixed_payment,
		a_app_onerental_num,
		a_app_onerental_use,
		a_app_onerental_payment,
		a_app_onemngr_num,
		a_app_onemngr_use,
		a_app_onemngr_payment,
		a_app_allrental_num,
		a_app_allrental_use,
		a_app_allrental_payment,
		a_app_allmngr_num,
		a_app_allmngr_use,
		a_app_allmngr_payment,
		i_app_onerental_num,
		i_app_onerental_use,
		i_app_onerental_payment,
		i_app_onemngr_num,
		i_app_onemngr_use,
		i_app_onemngr_payment,
		i_app_allrental_num,
		i_app_allrental_use,
		i_app_allrental_payment,
		i_app_allmngr_num,
		i_app_allmngr_use,
		i_app_allmngr_payment,
		amount_num,
		amount_use,
		amount_payment,
		amount_settlement,
		sales,
		payment,
		writer_id,
		set_date
		)
		VALUES
		(
		#{brand},
		#{date},
		#{productName},
		#{author},
		#{code},
		#{fixedNum},
		#{fixedSales},
		#{fixedPayment},
		#{aAppOnerentalNum},
		#{aAppOnerentalUse},
		#{aAppOnerentalPayment},
		#{aAppOnemngrNum},
		#{aAppOnemngrUse},
		#{aAppOnemngrPayment},
		#{aAppAllrentalNum},
		#{aAppAllrentalUse},
		#{aAppAllrentalPayment},
		#{aAppAllmngrNum},
		#{aAppAllmngrUse},
		#{aAppAllmngrPayment},
		#{iAppOnerentalNum},
		#{iAppOnerentalUse},
		#{iAppOnerentalPayment},
		#{iAppOnemngrNum},
		#{iAppOnemngrUse},
		#{iAppOnemngrPayment},
		#{iAppAllrentalNum},
		#{iAppAllrentalUse},
		#{iAppAllrentalPayment},
		#{iAppAllmngrNum},
		#{iAppAllmngrUse},
		#{iAppAllmngrPayment},
		#{amountNum},
		#{amountUse},
		#{amountPayment},
		#{amountSettlement},
		#{sales},
		#{payment},
		#{writerId},
		#{setDate}
		)
	</insert>

	<insert id="createMunpia">
		INSERT INTO tb_platform_munpia
		(
		author,
		brand,
		date,
		classification,
		product_name,
		purchase,
		purchase_cancel,
		rental,
		rental_cencel,
		total_sales,
		total_sales_cencel,
		real_sale,
		sub_payment,
		ios,
		payment,
		writer_id,
		set_date
		)
		VALUES
		(
		#{author},
		#{brand},
		#{date},
		#{classification},
		#{productName},
		#{purchase},
		#{purchaseCancel},
		#{rental},
		#{rentalCencel},
		#{totalSales},
		#{totalSalesCencel},
		#{realSale},
		#{subPayment},
		#{ios},
		#{payment},
		#{writerId},
		#{setDate}
		)

	</insert>

	<insert id="createNaver">
		INSERT INTO tb_platform_naver
		(
		product_name,
		product_no,
		provider_code,
		cp_name,
		author,
		brand,
		age_limit,
		service_day,
		rental_number,
		rental_nonpy,
		rental_free,
		rental_paid_cookie,
		rental_free_cookie,
		rental_paid_i_cookie,
		rental_free_i_cookie,
		own_number,
		own_nonpy,
		own_free,
		own_paid_cookie,
		own_free_cookie,
		own_paid_i_cookie,
		own_free_i_cookie,
		cookie_rental_number,
		cookie_rental_paid,
		cookie_rental_free,
		cookie_own_number,
		cookie_own_paid,
		cookie_own_free,
		i_cookie_rental_number,
		i_cookie_rental_paid,
		i_cookie_rental_free,
		i_cookie_own_number,
		i_cookie_own_paid,
		i_cookie_own_free,
		i_cookie_fee,
		sum,
		payment,
		writer_id,
		set_date
		)
		VALUES
		(
		#{productName},
		#{productNo},
		#{providerCode},
		#{cpName},
		#{author},
		#{brand},
		#{ageLimit},
		#{serviceDay},
		#{rentalNumber},
		#{rentalNonpy},
		#{rentalFree},
		#{rentalPaidCookie},
		#{rentalFreeCookie},
		#{rentalPaidICookie},
		#{rentalFreeICookie},
		#{ownNumber},
		#{ownNonpy},
		#{ownFree},
		#{ownPaidCookie},
		#{ownFreeCookie},
		#{ownPaidICookie},
		#{ownFreeICookie},
		#{cookieRentalNumber},
		#{cookieRentalPaid},
		#{cookieRentalFree},
		#{cookieOwnNumber},
		#{cookieOwnPaid},
		#{cookieOwnFree},
		#{iCookieRentalNumber},
		#{iCookieRentalPaid},
		#{iCookieRentalFree},
		#{iCookieOwnNumber},
		#{iCookieOwnPaid},
		#{iCookieOwnFree},
		#{iCookieFee},
		#{sum},
		#{payment},
		#{writerId},
		#{setDate}
		)

	</insert>


	<insert id="createRidibooks">
		INSERT INTO tb_platform_ridibooks
		(
		series_id,
		book_id,
		product_name,
		episode,
		author,
		translators,
		picture,
		brand,
		series_name,
		ebooks_price,
		single_sale_sales,
		single_sale_ticket,
		single_free_ticket,
		rental_amount,
		rental_ticket,
		free_down_amount,
		free_down_ticket,
		set_sale_amount,
		set_sale_ticket,
		set_rental_amount,
		set_rental_ticket,
		cancel_amount,
		cancel_ticket,
		cancel_single_sale_sales,
		cancel_single_sale_ticket,
		cancel_rental_amount,
		cancel_rental_ticket,
		cancel_free_down_amount,
		cancel_free_down_ticket,
		cancel_set_sale_amount,
		cancel_set_sale_ticket,
		cancel_set_rental_amount,
		cancel_set_rental_ticket,
		payment,
		paperbook_isbn10,
		paperbook_isbn13,
		ebook_isbn10,
		ebook_isbn13,
		cp_manage_id,
		category_1,
		category_2,
		writer_id,
		set_date
		)
		VALUES
		(
		#{seriesId},
		#{bookId},
		#{productName},
		#{episode},
		#{author},
		#{translators},
		#{picture},
		#{brand},
		#{seriesName},
		#{ebooksPrice},
		#{singleSaleSales},
		#{singleSaleTicket},
		#{singleFreeTicket},
		#{rentalAmount},
		#{rentalTicket},
		#{freeDownAmount},
		#{freeDownTicket},
		#{setSaleAmount},
		#{setSaleTicket},
		#{setRentalAmount},
		#{setRentalTicket},
		#{cancelAmount},
		#{cancelTicket},
		#{cancelSingleSaleSales},
		#{cancelSingleSaleTicket},
		#{cancelRentalAmount},
		#{cancelRentalTicket},
		#{cancelFreeDownAmount},
		#{cancelFreeDownTicket},
		#{cancelSetSaleAmount},
		#{cancelSetSaleTicket},
		#{cancelSetRentalAmount},
		#{cancelSetRentalTicket},
		#{payment},
		#{paperbookIsbn10},
		#{paperbookIsbn13},
		#{ebookIsbn10},
		#{ebookIsbn13},
		#{cpManageId},
		#{category1},
		#{category2},
		#{writerId},
		#{setDate}
		)

	</insert>

	<insert id="createRomance">
		INSERT INTO tb_platform_romance
		(
		book_code,
		product_name,
		brand,
		author,
		sale_rate,
		internet_sales,
		payment,
		reg_date,
		dealer,
		isbn,
		writer_id,
		set_date
		)
		VALUES
		(
		#{bookCode},
		#{productName},
		#{brand},
		#{author},
		#{saleRate},
		#{internetSales},
		#{payment},
		#{regDate},
		#{dealer},
		#{isbn},
		#{writerId},
		#{setDate}
		)

	</insert>

	<insert id="createTocsoda">
		INSERT INTO tb_platform_tocsoda
		(
		product_bacord,
		product_name,
		author,
		brand,
		pc,
		android,
		ios,
		ios_iap,
		sum,
		payment,
		writer_id,
		set_date
		)
		VALUES
		(
		#{productBacord},
		#{productName},
		#{author},
		#{brand},
		#{pc},
		#{android},
		#{ios},
		#{iosIap},
		#{sum},
		#{payment},
		#{writerId},
		#{setDate}
		)

	</insert>


	<insert id="createWinstore">
		INSERT INTO tb_platform_winstore
		(
		partner_name,
		partner_id,
		entrepreneur,
		channel_product_id,
		channel_product_name,
		product_name,
		episode,
		product_id,
		second_settlement_status,
		category,
		brand,
		author,
		picture_author,
		type,
		sale_rate,
		cencel_rate,
		settlement_target_amount,
		sales_rate,
		sales_amount,
		cencels_rate,
		cencels_amount,
		sum,
		customer_payment,
		customer_payment_receipt,
		customer_payment_etc,
		customer_payment_service,
		customer_payment_service_etc,
		service_deduction,
		payment,
		payment_type,
		writer_id,
		set_date
		)
		VALUES
		(
		#{partnerName},
		#{partnerId},
		#{entrepreneur},
		#{channelProductId},
		#{channelProductName},
		#{productName},
		#{episode},
		#{productId},
		#{secondSettlementStatus},
		#{category},
		#{brand},
		#{author},
		#{pictureAuthor},
		#{type},
		#{saleRate},
		#{cencelRate},
		#{settlementTargetAmount},
		#{salesRate},
		#{salesAmount},
		#{cencelsRate},
		#{cencelsAmount},
		#{sum},
		#{customerPayment},
		#{customerPaymentReceipt},
		#{customerPaymentEtc},
		#{customerPaymentService},
		#{customerPaymentServiceEtc},
		#{serviceDeduction},
		#{payment},
		#{paymentType},
		#{writerId},
		#{setDate}
		)
	</insert>
	

	<insert id="createAladin">
		INSERT INTO tb_platform_aladin 
            (
            sales_cancel_date, 
             item_id, 
             product_name, 
             sales_type, 
             net_price, 
             sale_price, 
             payment, 
             cancel_date, 
             author, 
             brand, 
             publisher, 
             isbn, 
             cid, 
             writer_id, 
             set_date
             ) 
		VALUES      
			(
			#{salesCancelDate},
			#{itemId},
			#{productName},
			#{salesType},
			#{netPrice},
			#{salePrice},
			#{payment},
			#{cancelDate},
			#{author},
			#{brand},
			#{publisher},
			#{isbn},
			#{cid},
			#{writerId},
			#{setDate}
	        )
	</insert>
	
	<insert id="createYes24">
		INSERT INTO tb_platform_yes24 
            (
            no, 
             product_name, 
             brand, 
             brand_sale_price, 
             sales, 
             sales_sale_price, 
             sales_refund_price, 
             cost_rate, 
             payment, 
             event_type, 
             sale_type, 
             event_sale_price, 
             author, 
             epubl_id, 
             set_code, 
             paperbook_isbn, 
             ebook_isbn, 
             sale_date, 
             refund_date, 
             writer_id, 
             set_date
             ) 
		VALUES      
		(
			#{no},
			#{productName},
			#{brand},
			#{brandSalePrice},
			#{sales},
			#{salesSalePrice},
			#{salesRefundPrice},
			#{costRate},
			#{payment},
			#{eventType},
			#{saleType},
			#{eventSalePrice},
			#{author},
			#{epublId},
			#{setCode},
			#{paperbookIsbn},
			#{ebookIsbn},
			#{saleDate},
			#{refundDate},
			#{writerId},
			#{setDate}
             )
	</insert>
</mapper>

